<!--Include header-->
<%-include('include/_header')%>
<!--Include header-->
<link rel="stylesheet" href="css/index.css">
<main class="main" >
<h3>ARCA information portal</h3>
   <p> <img src="img/lapto.png" class="photo" alt="not found"></p>
  
</main>




<!--Include footer-->
<%-include('include/_footer')%>
<!--Include footer-->
